body{
        font-family: 'Poppins'; overflow-x: hidden;
    font-size:17px;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6{
    margin-bottom: 30px;
    margin-top: 30px;
}
.container-fluid{
    height: auto;
}
.pd-50 {
    padding: 50px 0 50px 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.progress {
    height:2.15rem;
  margin-bottom: 10px;    
}

.btn{
    background: transparent;
    position: relative;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    padding: 12px 26px 12px;
    cursor: pointer;
    border: 2px solid #4cddf3;
    border-radius: 0;
    letter-spacing: 2px;
    pointer-events: auto;
    border-color: #fff;  
}

#about{
    background-color: #0084DA;
    color: #fff;
    padding-top: 100px;
}

#followme .fab{
    display: inline-block;
    padding: 15px;
    color: white;
    font-size: 20px;
    border: solid 2px white;
    background: transparent;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
}

#followme .fab:hover{
    padding: 15px;
    background-color: #fff;
    color: black;
    font-size: 20px;
    border: solid 2px white;
    background: transparent;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
}

#followme{
    background-color: #2C3E50;
    color:#fff;
}

#contact{
    background-color: aqua;
    color:#000;
}

.form-group {
    margin-bottom: 15px;
    background-color: transparent;    
}


.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    background-color: transparent;
    background-image: none;    
    border: 0;
    border-bottom: 2px solid #333;
    border-radius: 0;    
}

#footer{
    background-color: #2C3E50;
    color:#fff;
    padding: 25px;
    height: auto;
}

#portfolio{
   padding-left: 15px;
   padding-right: 15px;
}

#portfolio .btn{
    background-color: #2C3E50;
    color:#fff;    
}

@media screen and (max-width: 720px) {
  #skills , #contact {
   padding-left: 10px;
   padding-right: 10px;
  }
}